{
  "singleQuote": true,
  "prettier.semi": false,
  "overrides": [
    {
      "files": "*",
      "options": {
        "semi": false,
        "sort-imports": false
      }
    }
  ],
  "prettier.trailingComma": "all",
  "prettier.arrowParens": "avoid"
}
